h1{
	text-align: center;
}
td{
	width:	100px;
	height: 100px;
}
.vertical{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.horizontal{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}